html, body {
  height:100%;
}

body {
  background-color: white;
  background-image: url(asset_path('mikel-parera-41J9-JTIP-c-unsplash.jpg'));
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.login-form {
  margin-top: 150px;
  padding: 50px;
  background-color: rgba(2, 78, 111, .4);
  border-radius: 6px;
  form#new_user{
    width: 75%;
    margin-left: 10%;
    .form-label {
      color: #89dff6;
    }
    .btn-login {
      color: #89dff6;
      background-color: #011e30;
      border-color: #89dff6;
      width: 150px;
    }
  }
}

